<div class="container">
  <div class="row">
    <div class="col-md-12">
      <br>
      <br>
      <br>
      <h2>User List</h2>
      <div class="d-flex">
        <div class="p2 align-self-center">Пример текста и работа с Flex</div>
        <div class="p2 ml-auto">
          <form class="form-inline" action="/action_page.php">
            <input class="form-control mr-sm-2" type="text" placeholder="Search user">
            <button class="btn btn-success" type="submit">Search</button>
          </form>
        </div>
      </div>
      <br>
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Login</th>
          <th>NickName</th>
          <th>Age</th>
          <th>eMail</th>
          <th>Created</th>
          <th>Editing</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>John</td>
          <td>Doe</td>
          <td>john@example.com</td>
          <td>gozzz@mail.ru</td>
          <td>29/11/2018 22:04:40</td>
          <td>
            <div class="btn-group btn-group-sm">
              <button type="button" class="btn btn-success">View</button>
              <button type="button" class="btn btn-warning">Edit</button>
              <button type="button" class="btn btn-danger">Delete</button>
            </div>
          </td>
        </tr>
        <tr>
          <td>John</td>
          <td>Doe</td>
          <td>john@example.com</td>
          <td></td>
          <td></td>
          <td>
            <div class="btn-group btn-group-sm">
              <button type="button" class="btn btn-success">View</button>
              <button type="button" class="btn btn-warning">Edit</button>
              <button type="button" class="btn btn-danger">Delete</button>
            </div>
          </td>
        </tr>
        <tr>
          <td>John</td>
          <td>Doe</td>
          <td>john@example.com</td>
          <td></td>
          <td></td>
          <td>
            <div class="btn-group btn-group-sm">
              <button type="button" class="btn btn-success">View</button>
              <button type="button" class="btn btn-warning">Edit</button>
              <button type="button" class="btn btn-danger">Delete</button>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<app-end></app-end>
