<div class="container">
  <div class="row">
    <div class="col-md-12">
      <br>
      <br>
      <br>
      <h2>User List</h2>
      <div class="d-flex">
        <div class="p2 align-self-center"></div>
        <div class="p2 align-self-center">
          <button class="btn btn-outline-secondary" routerLink="new">New User</button>
        </div>
        <div class="p2 ml-auto">
            <input #searchUser class="form-control form-control-gray mr-sm-2" type="text" placeholder="Search user">
        </div>
        &nbsp;
        <div class="p2">
          <button class="btn btn-outline-secondary" (click)="onSearch(searchUser.value)">Search</button>
        </div>
        &nbsp;
        <div class="p2">
            <button class="btn btn-outline-secondary" (click)="onGetUsers()">Load all users</button>
        </div>
      </div>
      <br>
      <table class="table table-striped">
        <thead>
        <tr>
          <th>#</th>
          <th>Id</th>
          <th>Login</th>
          <th>NickName</th>
          <th>Age</th>
          <th>eMail</th>
          <th>Created</th>
          <th>Editing</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of users; let i = index;">
          <td>{{i + 1}}</td>
          <td>{{user.id}}</td>
          <td>{{user.login}}</td>
          <td>{{user.nickName}}</td>
          <td>{{user.age}}</td>
          <td>{{user.email}}</td>
          <td>{{user.date}}</td>
          <td>
            <div class="btn-group btn-group-sm">
              <button type="button" class="btn btn-outline-secondary" routerLink="{{user.id}}">View</button>
              <button type="button" class="btn btn-outline-secondary" >Edit</button>
              <button type="button" class="btn btn-outline-danger" (click)="onDeleteUser(user)">Delete</button>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
<app-end></app-end>
